<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="flightTicket">
            <h2><span>Flight Ticket</span> {{flightTicket.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Tcket Id</span></dt>
                <dd>
                    <span>{{flightTicket.tcketId}}</span>
                </dd>
                <dt><span>Party</span></dt>
                <dd>
                    <div *ngIf="flightTicket.partyId">
                        <a [routerLink]="['/party-my-suffix', flightTicket.partyId, 'view']">{{flightTicket.partyId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/flight-ticket-my-suffix', flightTicket.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
