<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="party">
            <h2><span>Party</span> {{party.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Uuid</span></dt>
                <dd>
                    <span>{{party.uuid}}</span>
                </dd>
                <dt><span>Perty Type</span></dt>
                <dd>
                    <span>{{party.pertyType}}</span>
                </dd>
                <dt><span>Relation</span></dt>
                <dd>
                    <div *ngIf="party.relationId">
                        <a [routerLink]="['/party-relation-my-suffix', party.relationId, 'view']">{{party.relationId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/party-my-suffix', party.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
