<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="address">
            <h2><span>Address</span> {{address.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Addres Type</span></dt>
                <dd>
                    <span>{{address.addresType}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{address.description}}</span>
                </dd>
                <dt><span>Party</span></dt>
                <dd>
                    <div *ngIf="address.partyId">
                        <a [routerLink]="['/party-my-suffix', address.partyId, 'view']">{{address.partyId}}</a>
                    </div>
                </dd>
                <dt><span>Party</span></dt>
                <dd>
                    <div *ngIf="address.partyId">
                        <a [routerLink]="['/party-my-suffix', address.partyId, 'view']">{{address.partyId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/address-my-suffix', address.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
